RewriteEngine On
#?   Connexion
RewriteRule ^connexion$ ./index
RewriteRule ^deconnecter$ ./controllers/logoutController.php
#?   Bureau
RewriteRule ^bureau$ ./controllers/deskController.php
#?   les vue des employer 
RewriteRule ^Liste-Employer$ ./controllers/employees/listEmployeController.php
RewriteRule ^Ajout-Employer$ ./controllers/employees/addEmployeController.php
RewriteRule ^Modifier-Employer-([0-9]+)$ ./controllers/employees/updateEmployeController.php?id=$1