RewriteEngine On
#?   Connexion
RewriteRule ^connexion$ ./index
RewriteRule ^deconnecter$ ./controllers/logoutController.php
#?   Bureau
RewriteRule ^bureau$ ./controllers/deskController.php
#?   les vue des employer 
RewriteRule ^Ajout-Employer$ ./controllers/employees/addEmployeController.php
RewriteRule ^Liste-Employer$ ./controllers/employees/listEmployeController.php
RewriteRule ^Info-Employer-([0-9]+)$ ./controllers/employees/listEmployeController.php?id=$1
RewriteRule ^Modifier-Employer-([0-9]+)$ ./controllers/employees/updateEmployeController.php?id=$1
#?   les vue des costommer 
RewriteRule ^Ajout-Client$ ./controllers/customers/addCustomerController.php
RewriteRule ^Liste-Client$ ./controllers/customers/listCustomerController.php
RewriteRule ^Info-Client$ ./controllers/customers/listCustomerController.php
RewriteRule ^Modifier-Client-([0-9]+)$ ./controllers/customers/updateCustomerController.php?id=$1