/* Styles généraux de la page */
 body {

    text-align: center;
    margin: 0;
    padding: 0;

    background-color: #fff;
}
 
/* Conteneur principal */
.container {
    max-width: 1000px;
    width: 90%;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #4b5943;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.parentContainer {

    height: 100%;
}
/* Style pour le titre de la page */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Style pour le champ de recherche */
#searchInput {
    border-radius: 3px;
    margin: 10px;
}

/* Style pour le tableau des employés */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #c8d6a2;
}

td {
    font-size: small;
}

th {
    background-color: #c8d6a2;
    border-radius: 1px;
}

/* Style pour mettre en surbrillance les lignes du tableau au survol */
tr:hover {
    background-color: #f5f5f5;
}

/* Style pour les boutons */
button {
    margin-right: 10px;
    border-radius: 5px;
    border-color: #4b5943;
    background-color: #4b5943;
    padding: 6px 10px;
    color: #fff;
    margin: 5px;
}

/* Style pour le survol des boutons */
button:hover {
    margin-right: 10px;
    border-radius: 5px;
    border-color: #c8d6a2;
    background-color: #c8d6a2;
    padding: 6px 10px;
    color: #000000;
    margin: 5px;
}

/* Style pour la modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Cachons la modal par défaut */
    display: none;
    pointer-events: none;
}

/* Style pour afficher la modal */
.modal-visible {
    display: flex;
}

/* Style pour cacher la modal */
.modal-hidden {
    display: none;
}

/* Style pour le contenu de la modal */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 1000px;
    pointer-events: auto;
}

/* Style pour le titre de la modal */
.modal h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

/* Style pour les boutons dans la modal */
.modal button {
    padding: 8px 16px;
    background-color: #4b5943;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style pour le survol des boutons dans la modal */
.modal button:hover {
    background-color: #c8d6a2;
    color: #000000;
}

/* Style pour les labels dans la modal */
.modal-content label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

/* Style pour les champs de saisie dans la modal */
.modal-content input {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 3px;
}

/* Style pour les boutons dans la modal */
.modal-content button {
    margin-right: 5px;
}

/* Style pour masquer le bouton de modification par défaut */
#editProfileButton {
    display: none;
}

/* Règles de média pour ajuster le comportement du tableau sur des écrans plus petits */
@media screen and (max-width: 600px) {


    th,
    td {
        font-size: 12px;
        padding: 4px;
    }

    th {
        white-space: normal;
    }

}

.password-condition {
    margin-right: 10px;
        border-radius: 5px;
        border-color: #4b5943;
        background-color: #4b5943;
        padding: 6px 10px;
        color: #fff;
        margin: 5px;
}