@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

body {
    font-family: 'Dosis', sans-serif;
    background-color: #0c0d29;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff
    }
    
a {
    border: 1px solid #fff;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    text-decoration: none; 
}

a:hover {
        background-color: #fff;
        border: 1px solid #0c0d29;
        padding: 10px;
        color: #0c0d29;
        border-radius: 20px;
        text-decoration: none;
}

@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    a {
        padding: 8px;
        font-size: 14px;
    }

    a:hover {
        padding: 8px;
    }
}