body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4b5943;
    /* Couleur d'arrière-plan */
}

/* Styles pour le formulaire de connexion */
#loginForm {
    background-color: #c8d6a2;
    /* Couleur de fond du formulaire */
    border-color: #4b5943;
    /* Couleur de bordure du formulaire */
    border-radius: 5px;
    /* Bordure arrondie du formulaire */
}

form {
    display: inline-block;
    /* Affichage en ligne du formulaire */
    border: 1px solid #ccc;
    /* Bordure du formulaire */
    padding: 20px;
    /* Marge intérieure du formulaire */
    max-width: 400px;
    /* Largeur maximale du formulaire */
    width: 100%;
    /* Largeur du formulaire à 100% */
}

label,
input {
    display: block;
    /* Affichage en bloc pour les étiquettes et les champs de saisie */
    margin-bottom: 10px;
    /* Marge inférieure entre les éléments */
    width: 100%;
    /* Largeur des éléments à 100% */
    box-sizing: border-box;
    /* Inclure les bordures et le padding dans la largeur totale */
    border-radius: 5px;
    /* Bordure arrondie pour les champs de saisie */
    border-color: #4b5943;
    /* Couleur de bordure des champs de saisie */
}

button {
    margin-right: 10px;
    /* Marge à droite pour les boutons */
    border-radius: 5px;
    /* Bordure arrondie pour les boutons */
    border-color: #c8d6a2;
    /* Couleur de bordure des boutons */
    background-color: #4b5943;
    /* Couleur de fond des boutons */
    color: #fff;
    /* Couleur du texte des boutons */
}

button:hover {
    margin-right: 10px;
    /* Marge à droite pour les boutons au survol */
    border-radius: 5px;
    /* Bordure arrondie pour les boutons au survol */
    border-color: #4b5943;
    /* Couleur de bordure des boutons au survol */
    background-color: #c8d6a2;
    /* Couleur de fond des boutons au survol */
    color: #000;
    /* Couleur du texte des boutons au survol */
}