@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
.displayTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #EDF1F4;
  border: 1px solid #0c0d29;
  margin: 30px;
  height: 550px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  border: 1px solid #0c0d29;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #0c0d29;
  max-width: 600px;
  margin: 0 auto;
}

th {
  background-color: #0c0d29;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #EDF1F4;
}

.border {
  border-right: 1px solid #0c0d29;
  border-left: 1px solid #0c0d29;
  width: 60px;
  text-align: center;
}

thead {
  position: sticky;
  top: 0;
  background-color: #0c0d29;
  color: #fff;
  z-index: 1;
}

th {
  position: sticky;
  top: 0;
  background-color: #0c0d29;
  color: #fff;
}

.fixedWidthColumn {
  width: 150px;
  height: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  height: 100%;
  background-color: #fff;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

#hoverDanger:hover {
  background-color: #FF0000;
  color: #fff;
}

.offInput {
  display: none;
}

.onInput {
  display: block;
}

button {
  margin-right: 10px;
  border-radius: 3px;
  border-color: #0c0d29;
  background-color: #0c0d29;
  padding: 6px 10px;
  color: #fff;
  margin: 5px;
  cursor: pointer;
}
button:hover {
  margin-right: 10px;
  border-radius: 3px;
  border-color: #1b1e5e;
  background-color: #fff;
  padding: 6px 10px;
  color: #000;
  margin: 5px;
  cursor: pointer;
}

#displayModal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: none;
  z-index: 2;
  color: #fff;
  border: solid 1px #0c0d29;
  border-radius: 3px;
  width: 500px;
  height: 500px;
  box-shadow: 0px 0px 10px #0c0d29;
}

h2 {
  color: #000;
  padding: 20px;
}

.infoItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #EDF1F4;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #000;
  overflow: auto;
}

p {
  text-align: left;
}

.strongP {
  text-decoration: underline;
  font-weight: bolder;
}

.modalContent {
  overflow: auto;
  margin: 10px;
  padding: 10px;
  background-color: #EDF1F4;
  border: solid 1px #0c0d29;
  height: 65%;
}

.buttonModal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

#closeModalButton {
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  border: solid 1px #0c0d29;
  z-index: 5;
}

#confirmDeleteModalButton:hover {
  background-color: #FF0000;
  color: #fff;
  border: 1px solid #fff;
}

header {
  background-color: #0c0d29;
  color: #fff;
}

.menuIcon {
  display: none;
  cursor: pointer;
}

input[type=checkbox]#menuToggle {
  display: none;
}

.menuIcon::before {
  content: "☰";
  font-size: 25px;
}

nav li {
  position: relative;
  margin: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

nav li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #5dbfd4;
  transition: width 0.3s ease-in-out;
}

nav li:hover::after {
  width: 100%;
}

.subMenu {
  display: none;
  position: absolute;
  top: 100%;
  border-radius: 3px;
  background-color: #0c0d29;
  min-width: 150px;
  z-index: 1;
  padding: 10px 0;
  border: solid 1px #1b1e5e;
}

.subMenu::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: auto;
  right: 0;
  width: 0;
  height: 2px;
}

.subMenu::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: auto;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #5dbfd4;
  transition: width 0.3s ease-in-out;
}

nav li.active .subMenu {
  display: block;
}

nav li.active .subMenu::after {
  right: auto;
  left: 0;
  width: 100%;
}

.subMenu li {
  display: block;
}

.subMenu a {
  text-align: center;
  color: #fff;
  padding: 5px 15px;
  display: block;
  text-decoration: none;
  font-size: small;
}

.subMenu a:hover {
  background-color: #5dbfd4;
}

.searchBar {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#searchInput {
  width: 100%;
  border: none;
  padding: 5px;
}

body, nav ul {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

nav ul li {
  margin-left: 10px;
}

.barSearch {
  border: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c0d29;
  color: #fff;
  padding: 10px;
  position: sticky;
  bottom: 0;
  padding: 20px;
}

#date {
  font-weight: bold;
}

@media (max-width: 768px) {
  #date {
    display: none;
  }
}
#loginForm {
  background-color: #EDF1F4;
  border-color: #0c0d29;
  border-radius: 3px;
  text-align: center;
}

.displayForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;
  min-height: calc(100vh - (60px + 60px));
}

label {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border-color: #0c0d29;
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border-color: #0c0d29;
  padding: 5px;
  border: solid 1px;
  margin: 5px;
}

form {
  border: 1px solid;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.eye {
  display: flex;
  justify-content: center;
}

.passwordToggleBtn {
  vertical-align: middle;
}

.passwordInput {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .displayForm {
    padding: 20px;
  }
  #loginForm {
    padding: 10px;
    margin: 20px;
    /* Styles pour le bouton "Mot de passe perdu" */
  }
  #loginForm button {
    margin-top: 10px;
  }
  #loginForm #lostMdp {
    margin-bottom: 10px;
  }
}
body {
  background-color: #fff;
}

.displayDesk {
  display: flex;
  min-height: calc(100vh - (60px + 60px));
}

.arrangementDesk {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
}
.arrangementDesk .displayLive {
  max-height: 350px;
}
.arrangementDesk .displayNote, .arrangementDesk .displayLive {
  border: solid 1px #0c0d29;
  border-radius: 3px;
  background-color: #EDF1F4;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
  width: 400px;
}
.arrangementDesk .displayNote form, .arrangementDesk .displayLive form {
  border: 1px solid;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.liveList {
  max-width: 400px;
  width: 100%;
  overflow-y: scroll;
  border: 1px solid #0c0d29;
  border-radius: 3px;
}

#inter {
  border: solid 1px #0c0d29;
  border-radius: 3px;
  background-color: #EDF1F4;
  margin: 20px;
  padding: 20px;
  width: 50%;
}

.displayForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;
  min-height: calc(100vh - (60px + 60px));
}

.addEmploye {
  background-color: #EDF1F4;
  border-radius: 3px;
}

.eye {
  display: flex;
  justify-content: center;
}

.passwordToggleBtn {
  vertical-align: middle;
}

.passwordInput {
  flex-grow: 1;
}

li {
  list-style-type: none;
}

.errors {
  color: #FF0000;
  font-weight: bolder;
  text-decoration: underline #FF0000;
}

table {
  min-height: calc(100vh - (60px + 60px));
}

button a {
  color: #fff;
  text-decoration: none;
}
button a:hover {
  color: #000;
}

#deleteForm {
  border: none;
  width: 100%;
  padding: 0px;
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;
}

#updateForm {
  display: flex;
  align-items: center;
  background-color: #EDF1F4;
}

.selectRow {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

label {
  display: block;
}

#confirmDeleteModal {
  display: none;
}

.displayStaff {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EDF1F4;
  border: 1px solid #0c0d29;
  border-radius: 3px;
  width: 400px;
  padding: 20px;
  position: relative;
}
.displayStaff h1 {
  margin-bottom: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.upload {
  border: 1px solid #0c0d29;
  border-radius: 3px;
  padding: 10px;
  margin: 30px;
  text-align: center;
}

.modalArrival {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
  padding: 20px;
}

.modalDepart {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
}

.modalUpload {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
  padding: 10px;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select p, .select select {
  margin-right: 10px;
}

textarea {
  width: 80%;
  margin-top: 10px;
  resize: none;
  border: 1px solid #0c0d29;
  border-radius: 3px;
}

p {
  margin: 5px;
  text-align: center;
}

#fileUpload {
  display: none;
}

#uploadButtonTest {
  border-radius: 20px;
}

.dateReporting {
  padding: 5px;
  margin: 20px;
  border: solid 1px #0c0d29;
  border-radius: 25px;
}

#confirmationModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
  padding: 20px;
}

.postionButton {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .modalUpload {
    width: 80%;
    max-width: none;
    padding: 5%;
  }
}
/* retire le border et santre les element retire height de la mixin displayStaff */
form {
  border: none;
  text-align: center;
}
form .displayBtmTime {
  text-align: -webkit-center;
  margin-top: 10px;
}
form .displayBtmTime button {
  display: flex;
}

#errorMessages {
  background-color: #f2f2f2;
  border: 2px solid #333;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

/* Ajoute une ombre subtile pour une sensation de profondeur */
#errorMessages {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Ajoute une animation de transition au survol de la souris */
 *  &:hover
 *      transform: scale(1.05)
 *      transition: transform 0.3s ease-in-out */
#id_customer {
  width: 100px;
}

.displayForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;
  min-height: calc(100vh - (60px + 60px));
}

.addClient {
  background-color: #EDF1F4;
  border-radius: 3px;
}

li {
  list-style-type: none;
}

.errors {
  color: #FF0000;
  font-weight: bolder;
  text-decoration: underline #FF0000;
}

table {
  min-height: calc(100vh - (60px + 60px));
}

button a {
  color: #fff;
  text-decoration: none;
}
button a:hover {
  color: #000;
}

#deleteForm {
  border: none;
  width: 100%;
  padding: 0px;
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;
}

#updateForm {
  display: flex;
  align-items: center;
  background-color: #EDF1F4;
}

.selectRow {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

label {
  display: block;
}

#confirmationModalUpdate {
  display: none;
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;
}

table {
  min-height: calc(100vh - (60px + 60px));
}

button a {
  color: #fff;
  text-decoration: none;
}
button a:hover {
  color: #000;
}

#deleteForm {
  border: none;
  width: 100%;
  padding: 0px;
}

.addIntervention {
  background-color: #EDF1F4;
  border-radius: 3px;
}

.displaySelect {
  display: flex;
  justify-content: center;
  align-items: center;
}
.displaySelect p, .displaySelect select {
  margin-right: 10px;
}

#confirmDeleteIntervention {
  display: none;
}

.displayButtonUpdate {
  display: flex;
  justify-content: space-between;
}

#confirmationUpdateIntervention {
  display: none;
}

#addIntervenant {
  text-align: center;
  display: none;
}

#addIntervenant h2 {
  padding: 5px;
  margin: 5px;
}

#addIntervenant select {
  display: block;
  margin: 0 auto;
}

#addIntervenant button {
  float: left;
  margin-right: 10px;
  margin: 10px;
}

#addIntervenant button:last-child {
  float: right;
  margin-right: 0;
  margin: 10px;
}

#infoIntervention p {
  text-align: left;
  margin: 10px;
}

#infoIntervention {
  display: none;
}

#infoIntervention button {
  margin: 10px;
}

.borderComment {
  border: 1px #0c0d29 solid;
  background-color: #EDF1F4;
}

#photoCarouselModal {
  border: 1px solid #000;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #EDF1F4;
  width: 450px;
  height: 550px;
  display: none;
}
#photoCarouselModal img {
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

/* Styles pour le carrousel */
.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.carousel-slide {
  min-width: 100%;
  transition: transform 0.5s ease;
}

/* Styles pour les images */
 *  &-slide img
 *      max-width: 100%
 *      height: auto */
main {
  flex: 1;
  min-height: calc(100vh - (60px + 60px));
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */