@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  height: 100%;
  background-color: #fff;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

header {
  background-color: #0c0d29;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

input[type=checkbox]#menu-toggle {
  display: none;
}

.menu-icon::before {
  content: "☰";
  font-size: 25px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  position: relative;
  margin: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

nav li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #5dbfd4;
  transition: width 0.3s ease-in-out;
}

nav li:hover::after {
  width: 100%;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  border-radius: 3px;
  background-color: #0c0d29;
  min-width: 150px;
  z-index: 1;
  padding: 10px 0;
  border: solid 1px #1b1e5e;
}

.sub-menu::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: auto;
  right: 0;
  width: 0;
  height: 2px;
}

.sub-menu::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: auto;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #5dbfd4;
  transition: width 0.3s ease-in-out;
}

nav li.active .sub-menu {
  display: block;
}

nav li.active .sub-menu::after {
  right: auto;
  left: 0;
  width: 100%;
}

.sub-menu li {
  display: block;
}

.sub-menu a {
  text-align: center;
  color: #fff;
  padding: 5px 15px;
  display: block;
  text-decoration: none;
  font-size: small;
}

.sub-menu a:hover {
  background-color: #5dbfd4;
}

footer {
  background-color: #0c0d29;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

#loginForm {
  background-color: #EDF1F4;
  border-color: #0c0d29;
  border-radius: 3px;
  text-align: center;
}

.displayForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  min-height: calc(100vh - (60px + 60px));
}

button {
  margin-right: 10px;
  border-radius: 3px;
  border-color: #0c0d29;
  background-color: #0c0d29;
  padding: 6px 10px;
  color: #fff;
  margin: 5px;
  cursor: pointer;
}
button:hover {
  margin-right: 10px;
  border-radius: 3px;
  border-color: #1b1e5e;
  background-color: #fff;
  padding: 6px 10px;
  color: #000;
  margin: 5px;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border-color: #0c0d29;
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border-color: #0c0d29;
  padding: 5px;
  border: solid 1px;
  margin: 5px;
}

form {
  border: 1px solid;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.eye {
  display: flex;
  justify-content: center;
}

.passwordToggleBtn {
  vertical-align: middle;
}

.passwordInput {
  flex-grow: 1;
}

body {
  background-color: #fff;
}

.displayDesk {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: calc(100vh - (60px + 60px));
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #0c0d29;
  color: #fff;
  border-radius: 3px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: 600;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #fff;
}

.days span {
  display: block;
  text-align: center;
  padding: 5px;
  border: 1px solid #1b1e5e;
}

.days .current-day {
  border: 2px solid #0c0d29;
  border-radius: 5%;
  background-color: #5dbfd4;
  font-weight: bold;
}

.displayCalendar {
  background-color: #EDF1F4;
  margin: 20px;
  padding: 20px;
  width: 50%;
}

.displayNote {
  background-color: #EDF1F4;
  margin: 20px;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displayIntervention {
  background-color: #EDF1F4;
  margin: 20px;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displayLive {
  background-color: #EDF1F4;
  margin: 20px;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  border: 1px solid;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

form {
  max-width: 500px;
  width: 100%;
}

button {
  margin-right: 10px;
  border-radius: 3px;
  border-color: #0c0d29;
  background-color: #0c0d29;
  padding: 6px 10px;
  color: #fff;
  margin: 5px;
  cursor: pointer;
}
button:hover {
  margin-right: 10px;
  border-radius: 3px;
  border-color: #1b1e5e;
  background-color: #fff;
  padding: 6px 10px;
  color: #000;
  margin: 5px;
  cursor: pointer;
}

main {
  flex: 1;
  min-height: calc(100vh - (60px + 60px));
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */