<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interventions</title>
    <link rel="stylesheet" href="intervention.css">
</head>

<body>
    <div class="container">

        <h1>Interventions</h1>
        <table id="interventions">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Lieu</th>
                    <th>Commentaire</th>
                    <th>Pièce(s) jointe(s)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- debut du php-->
                <tr>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>
                        <button id="avertSupp">Supprimer</button>
                        <button>Exportation</button>
                        <a href="" target="_blank" rel="noreferrer"
                           style="color: white;"><button>Envoi au client</button></a>
                    </td>
                </tr>

                <!-- fin du php-->
            </tbody>
        </table>

        <!-- Modal pour l'avertissement de suppression -->
        <div class="modal" id="modal">
            <div class="modal-content">
                <h2>Confirmation de suppression</h2>
                <p>Êtes-vous sûr de vouloir supprimer cette intervention ?</p>
                <button id="confirmDelete">Supprimer</button>
                <button id="cancelDelete">Annuler</button>
            </div>
        </div>

    </div>
    <script src="intervention.js" defer></script>
</body>

</html>