//              Styles footer
footer
    background-color: $color_1
    color: $color_3
    text-align: center
    padding: 10px
    display: flex
    align-items: center
    position: sticky
    bottom: 0

.footer-right
    display: flex
    align-items: center
    justify-content: flex-end
    flex: 1
