// Styles footer
footer
    display: flex
    justify-content: space-between
    align-items: center
    background-color: $color_1
    color: $color_3
    padding: 10px
    position: sticky
    bottom: 0
    padding: 20px

// style de la date et l'horloge
#date
    font-weight: bold

@media (max-width: 768px)
    #date
        display: none
