//              Styles header
header
    background-color: $color_1
    color: $color_3
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px

.menuIcon
    display: none
    cursor: pointer

input[type="checkbox"]#menuToggle
    display: none

.menuIcon::before
    content: "\2630"
    font-size: 25px

//nav ul 
//    list-style: none
//    display: flex

nav li 
    position: relative
    margin: 10px

nav a 
    color: $color_3
    text-decoration: none
    padding: 5px 10px

nav li::after 
    content: ""
    position: absolute
    bottom: -5px
    left: 0
    width: 0
    height: 2px
    background-color: $color_4
    transition: width 0.3s ease-in-out

nav li:hover::after 
    width: 100%

.subMenu
    display: none
    position: absolute
    top: 100%
    border-radius: 3px
    background-color: $color_1
    min-width: 150px
    z-index: 1
    padding: 10px 0
    border: solid 1px $color_2

.subMenu::after
    content: ""
    position: absolute
    bottom: -5px
    left: auto
    right: 0
    width: 0
    height: 2px

.subMenu::before
    content: ""
    position: absolute
    bottom: -5px
    left: auto
    right: 0
    width: 0
    height: 2px
    background-color: $color_4
    transition: width 0.3s ease-in-out

nav li.active .subMenu 
    display: block

nav li.active .subMenu::after 
    right: auto
    left: 0
    width: 100%

.subMenu li
    display: block

.subMenu a
    text-align: center
    color: $color_3
    padding: 5px 15px
    display: block
    text-decoration: none
    font-size: small

.subMenu a:hover
    background-color: $color_4

//.searchBar
//    border: none

//#searchInput
//    width: 100%

.searchBar
    margin-left: auto

#searchInput
    width: 100%
    border: none
    padding: 5px

nav ul 
    list-style: none
    display: flex
    align-items: center

nav ul li 
    margin-left: 10px

.barSearch
    border: none
