body
    background-color: $color_3

$header_height: 60px
$footer_height: 60px

.displayDesk
    @include displayDesk
    display: flex

.arrangement
    display: flex
    flex-direction: column
    flex: 1

.displayNote, .displayLive
    border: solid 1px $color_1
    border-radius: 3px
    background-color: $color_6
    margin: 20px
    padding: 20px
    display: flex
    flex-direction: column
    align-items: center
    flex: 1

#inter
    border: solid 1px $color_1
    border-radius: 3px
    background-color: $color_6
    margin: 20px
    padding: 20px
    flex: 2

form
    @include form
