body
    background-color: $color_3

$header_height: 60px
$footer_height: 60px

.displayDesk
    @include displayDesk

.displayCalendar
    background-color: $color_6
    margin: 20px
    padding: 20px
    width: 50%

.displayNote
    background-color: $color_6
    margin: 20px
    padding: 20px
    width: 50%
    display: flex
    flex-direction: column
    align-items: center

.displayIntervention
    background-color: $color_6
    margin: 20px
    padding: 20px
    width: 50%
    display: flex
    flex-direction: column
    align-items: center

.displayLive
    background-color: $color_6
    margin: 20px
    padding: 20px
    width: 50%
    display: flex
    flex-direction: column
    align-items: center

form
    @include form

form
    max-width: 500px
    width: 100%
