$header_height: 60px
$footer_height: 60px

#loginForm
    background-color: $color_6
    border-color: $color_1
    border-radius: 3px
    text-align: center

.displayForm
    @include displayForm

button
    @include button

label
    @include label

input
    @include input

form
    @include form

.eye
    display: flex
    justify-content: center

.passwordToggleBtn
    vertical-align: middle

.passwordInput
    flex-grow: 1
